/* $color_1 = white
$color_2 = #9f7f5f
$color_3 = #8aaa75
$color_4 = #8575aa
$color_5 = #343434
$color_6 = #cccccc
$color_7 = #44aaee
$color_8 = #999999
$font_family_1 = "Montserrat", sans-serif
$background_color_1 = rgba(48, 51, 60, 1)
$background_color_2 = rgba(48, 51, 60, 0)
$background_color_3 = #63adcc
$background_color_4 = transparent
$background_color_5 = rgba(0, 0, 0, 0.3)
$background_color_6 = white
$background_color_7 = #cdcdcd
$background_color_8 = rgba(0, 0, 0, 0.5)
$background_color_9 = black
$background_color_10 = white */
@require 'variables';
/*
========================================
-----------Custom Styles ------------
========================================
*/
/* Preload images */
body
  font-family: $font_family_1
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  color: $color_1
  background-image: url(../img/home-bg.png)
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  &:after
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png)
    display: none
p
  font-family: $font_family_1
  font-size: 14px
  font-weight: 300
  line-height: 23px
*
  transition: all 500ms ease-out
  -webkit-transition: all 500ms ease-out
html
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  color: $color_1
  background-image: url(../img/home-bg.png)
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
section
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  color: $color_1
  background-image: url(../img/home-bg.png)
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  width: 400%
.page
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
  color: $color_1
  background-image: url(../img/home-bg.png)
  background-repeat: no-repeat
  background-size: cover
  overflow: hidden
  position: absolute
  overflow-y: scroll
  .icon
    position: absolute
    top: 0
    bottom: 0
    right: 10%
    left: 0
    width: auto
    height: auto
    margin: auto
    text-align: center
    font-size: 60px
    transform: translateX(360%)
    line-height: 1.3
#p1
  left: 0
  background-image: url(../img/home-bg.png)
  background-repeat: no-repeat
  background-size: cover
  .icon
    .title
      margin-bottom: 20px
  .primary-button
    display: block
    margin-top: -20px
    padding-bottom: 60px
  span
    font-size: 15px
    font-family: $font_family_1
    text-transform: uppercase
    font-weight: 300
  h4
    letter-spacing: 1px
    font-size: 60px
    font-family: $font_family_1
    text-transform: uppercase
    font-weight: 500
  p
    margin: 20px 30% 20px 30%
#p2
  left: 100%
  background-image: url(../img/about-bg.png)
  background-repeat: no-repeat
  background-size: cover
  .left-text
    text-align: left
  .primary-button
    margin-bottom: 30px
  .right-image
    padding-bottom: 40px
    img
      max-width: 100%
      overflow: hidden
  .title
    font-size: 15px
    font-family: $font_family_1
    text-transform: uppercase
    font-weight: 300
    margin-bottom: 60px
  h4
    letter-spacing: 1px
    font-size: 48px
    font-family: $font_family_1
    font-weight: 600
    margin-bottom: 30px
#p3
  left: 200%
  background-image: url(../img/gallery-bg.png)
  background-repeat: no-repeat
  background-size: cover
  .title
    font-size: 15px
    font-family: $font_family_1
    text-transform: uppercase
    font-weight: 300
    margin-bottom: 60px
  .project-item
    margin: 15px 0px
    img
      width: 100%
      overflow: hidden
  .last-project
    padding-bottom: 40px
#p4
  left: 300%
  background-image: url(../img/contact-bg.png)
  background-repeat: no-repeat
  background-size: cover
  .title
    font-size: 15px
    font-family: $font_family_1
    text-transform: uppercase
    font-weight: 300
    margin-bottom: 60px
  fieldset
    margin-top: -30px
    margin-bottom: 15px
  input
    font-family: $font_family_1
    padding-left: 15px
    max-width: 100%
    height: 40px
    display: inline-block
    line-height: 40px
    font-size: 13px
    color: $color_1
    background-color: $background_color_5
    border: none
    outline: none
    border-radius: 0
    box-shadow: none
    &:focus
      outline: none !important
      box-shadow: none
  textarea
    font-family: $font_family_1
    margin-top: 35px
    margin-bottom: 20px
    padding-left: 15px
    width: 100%
    max-width: 100%
    max-height: 180px
    height: 140px
    display: inline-block
    line-height: 40px
    font-size: 13px
    color: $color_1
    background-color: $background_color_5
    border: none
    outline: none !important
    border-radius: 0
    box-shadow: none
    &:focus
      outline: none !important
      box-shadow: none
  button
    font-family: $font_family_1
    display: inline-block
    padding: 15px 25px
    background-color: $background_color_3
    color: $color_1
    font-size: 11px
    text-transform: uppercase
    font-weight: 700
    left: 0.5px
    border-radius: 25px
    border: 1px solid transparent
    &:hover
      color: $color_1
      background-color: $background_color_4
      border: 1px solid #fff
      -moz-transition: all 0.2s linear
      -o-transition: all 0.2s linear
      -webkit-transition: all 0.2s linear
  .right-info
    background-color: $background_color_6
    padding: 30px
    color: $color_5
    text-align: left
    margin-bottom: 60px
    p
      em
        font-style: normal
        font-weight: 500
    .social-icons
      margin-top: 45px
    ol
      padding: 0
      margin: 0
    i
      margin-right: 10px
      color: $color_1
      font-size: 15px
      width: 34px
      height: 34px
      background-color: $background_color_7
      display: inline-block
      border-radius: 50%
      text-align: center
      line-height: 34px
      &:hover
        background-color: $background_color_3
        -moz-transition: all 0.3s linear
        -o-transition: all 0.3s linear
        -webkit-transition: all 0.3s linear
ul
  position: fixed
  z-index: 1
  padding-top: 20%
  position: fixed
  top: 0
  bottom: 0
  left: 0
  margin: auto
  height: auto
  width: 10%
  padding-left: 0
  padding-right: 0
  padding-bottom: 0
  text-align: center
  background-color: $background_color_2
  .icon
    &:hover
      opacity: 0.6
  li
    margin: 30px 0
#t1
  &:target
    .page#p1
      transform: translateX(0)
#t2
  &:target
    .page#p2
      transform: translateX(-90%)
      .icon
        transform: translateX(0) !important
    ul
      background-color: $background_color_1
      .icon
        transform: scale(1)
        transition-delay: .1s
    .page#p1
      .icon
        -webkit-filter: blur(5px)
        filter: blur(5px)
    #dos
      color: $color_2
      -moz-transition: all 0.2s linear
      -o-transition: all 0.2s linear
      -webkit-transition: all 0.2s linear
#t3
  &:target
    .page#p3
      transform: translateX(-190%)
      .icon
        transform: translateX(0) !important
    ul
      background-color: $background_color_1
      .icon
        transform: scale(1)
        transition-delay: .1s
    .page#p1
      .icon
        -webkit-filter: blur(5px)
        filter: blur(5px)
    #tres
      color: $color_3
      -moz-transition: all 0.2s linear
      -o-transition: all 0.2s linear
      -webkit-transition: all 0.2s linear
#t4
  &:target
    .page#p4
      transform: translateX(-290%)
      .icon
        transform: translateX(0) !important
    ul
      background-color: $background_color_1
      .icon
        transform: scale(1)
        transition-delay: .1s
    .page#p1
      .icon
        -webkit-filter: blur(5px)
        filter: blur(5px)
    #cuatro
      color: $color_4
      -moz-transition: all 0.2s linear
      -o-transition: all 0.2s linear
      -webkit-transition: all 0.2s linear
.page#p1
  -webkit-transition: all 0.5s ease-in-out
  -moz-transition: all 0.5s ease-in-out
  -o-transition: all 0.5s ease-in-out
  transition: all 0.5s ease-in-out
  .icon
    margin-left: 10%
    height: 400px
    transform: translateX(0) !important
.icon
  color: $color_1
  font-size: 32px
  display: block
a
  text-decoration: none !important
.title
  display: block
.hint
  display: block
.page#p2
  .icon
    height: 600px
.page#p3
  .icon
    height: 700px
.page#p4
  .icon
    height: 600px
.credit
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  font-size: 10px
  font-family: $font_family_1
  a
    color: $color_1
.primary-button
  a
    font-family: $font_family_1
    display: inline-block
    padding: 15px 25px
    background-color: $background_color_3
    color: $color_1
    font-size: 11px
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 0.5px
    border-radius: 25px
    border: 1px solid transparent
    text-decoration: none
    &:hover
      background-color: $background_color_4
      border: 1px solid #fff
body.lb-disable-scrolling
  overflow: hidden
.lightboxOverlay
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  background-color: $background_color_9
  filter: unqoute("progid:DXImageTransform.Microsoft.Alpha(Opacity=80)")
  opacity: 0.8
  display: none
.lightbox
  position: absolute
  margin-top: 5%
  left: 0
  width: 100%
  z-index: 10000
  text-align: center
  line-height: 0
  font-weight: normal
  .lb-image
    display: block
    height: auto
    max-width: inherit
    max-height: none
    border-radius: 3px
    border: 4px solid white
  a
    img
      border: none
.lb-outerContainer
  position: relative
  *zoom: 1
  width: 250px
  height: 250px
  margin: 0 auto
  border-radius: 4px
  background-color: $background_color_10
  &:after
    content: ""
    display: table
    clear: both
.lb-loader
  position: absolute
  top: 43%
  left: 0
  height: 25%
  width: 100%
  text-align: center
  line-height: 0
.lb-cancel
  display: block
  width: 32px
  height: 32px
  margin: 0 auto
  background: url(../img/loading.gif) no-repeat
.lb-nav
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10
  a
    outline: none
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")
  a.lb-prev
    width: 34%
    left: 0
    float: left
    background: url(../img/prev.png) left 48% no-repeat
    filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=0)")
    opacity: 0
    -webkit-transition: opacity 0.6s
    -moz-transition: opacity 0.6s
    -o-transition: opacity 0.6s
    transition: opacity 0.6s
    &:hover
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")
      opacity: 1
  a.lb-next
    width: 64%
    right: 0
    float: right
    background: url(../img/next.png) right 48% no-repeat
    filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=0)")
    opacity: 0
    -webkit-transition: opacity 0.6s
    -moz-transition: opacity 0.6s
    -o-transition: opacity 0.6s
    transition: opacity 0.6s
    &:hover
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")
      opacity: 1
.lb-container
  >.nav
    left: 0
.lb-prev
  height: 100%
  cursor: pointer
  display: block
.lb-next
  height: 100%
  cursor: pointer
  display: block
.lb-dataContainer
  margin: 0 auto
  padding-top: 5px
  *zoom: 1
  width: 100%
  -moz-border-radius-bottomleft: 4px
  -webkit-border-bottom-left-radius: 4px
  border-bottom-left-radius: 4px
  -moz-border-radius-bottomright: 4px
  -webkit-border-bottom-right-radius: 4px
  border-bottom-right-radius: 4px
  &:after
    content: ""
    display: table
    clear: both
.lb-data
  padding: 0 4px
  color: $color_6
  .lb-details
    width: 85%
    float: left
    text-align: left
    line-height: 1.1em
  .lb-caption
    font-size: 13px
    font-weight: bold
    line-height: 1em
    a
      color: $color_7
  .lb-number
    display: block
    clear: left
    padding-bottom: 1em
    font-size: 12px
    color: $color_8
  .lb-close
    display: block
    float: right
    width: 30px
    height: 30px
    background: url(../img/close.png) top right no-repeat
    text-align: right
    outline: none
    filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=70)")
    opacity: 0.7
    -webkit-transition: opacity 0.2s
    -moz-transition: opacity 0.2s
    -o-transition: opacity 0.2s
    transition: opacity 0.2s
    &:hover
      cursor: pointer
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=100)")
      opacity: 1
@media (max-width: 600px)
  ul
    padding-top: 50% !important
@media (max-width: 850px)
  ul
    padding-top: 10%
  .page#p1
    .icon
      height: auto
      padding: 80px 0px 0px 4%
  #p1
    .primary-button
      margin-bottom: 100px
    h4
      letter-spacing: 1px
      font-size: 36px
      font-family: $font_family_1
      text-transform: uppercase
      font-weight: 500
    p
      margin: 20px
  .page#p2
    .icon
      height: auto
      padding: 80px 0px
  #p2
    .left-text
      text-align: center
      margin-bottom: 45px
    .right-image
      margin-bottom: 40px
  .page#p3
    .icon
      height: auto
      padding: 80px 0px
  #p3
    .last-project
      margin-bottom: 40px
  .page#p4
    .icon
      height: auto
      padding: 80px 0px
  #p4
    .right-info
      margin-bottom: 60px
      padding: 20px
      i
        margin-right: 0px
  html
    position: absolute
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    color: $color_1
    background: #30333c
  body
    position: absolute
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    color: $color_1
    background: #30333c
  section
    position: absolute
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    color: $color_1
    background: #30333c
  .page
    position: absolute
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important
    color: $color_1
    background: #30333c
  .credit
    background-color: $background_color_8
    margin-bottom: 0px
    padding: 8px 0px