$color_1 = white
$color_2 = #9f7f5f
$color_3 = #8aaa75
$color_4 = #8575aa
$color_5 = #343434
$color_6 = #cccccc
$color_7 = #44aaee
$color_8 = #999999
$font_family_1 = "Montserrat", sans-serif
$background_color_1 = rgba(48, 51, 60, 1)
$background_color_2 = rgba(48, 51, 60, 0)
$background_color_3 = #63adcc
$background_color_4 = transparent
$background_color_5 = rgba(0, 0, 0, 0.3)
$background_color_6 = white
$background_color_7 = #cdcdcd
$background_color_8 = rgba(0, 0, 0, 0.5)
$background_color_9 = black
$background_color_10 = white